<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>用户管理
            <small></small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统设置</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="用户名" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="handleCurrentChange(1)" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号" width="50"></el-table-column>
                <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                <el-table-column prop="password" label="密码" align="center"></el-table-column>
                <el-table-column prop="gender" label="性别" align="center" width="100">

                    <template slot-scope="scope">
                        <span>{{ scope.row.gender == '1' ? '男' :  scope.row.gender == '2' ? '女' : '不限'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="birthday" label="出生日期" align="center" width="150"></el-table-column>
                <el-table-column prop="telephone" label="电话号码" align="center" width="150"></el-table-column>
                <el-table-column prop="station" label="状态" align="center" width="100"></el-table-column>
                <el-table-column prop="remark" label="附注" align="center" width="100"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增用户" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名">
                                                <el-input v-model="formData.username"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="密码">
                                                <el-input v-model="formData.password"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="出生日期">
                                                <el-input v-model="formData.birthday"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="电话号码">
                                                <el-input v-model="formData.telephone" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="住址">
                                                <el-input v-model="formData.station" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="附注">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="角色" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>角色名称</th>
                                            <th>角色关键字</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑用户" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名">
                                                <el-input v-model="formData.username"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="密码">
                                                <el-input v-model="formData.password"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="出生日期">
                                                <el-input v-model="formData.birthday"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="电话号码">
                                                <el-input v-model="formData.telephone" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="住址">
                                                <el-input v-model="formData.station" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="附注">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="角色" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>角色名称</th>
                                            <th>角色关键字</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="roleIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            tableDate: [],
            roleIds: [], //角色复选框
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                code: [{required: true, message: '项目编码为必填项', trigger: 'blur'}],
                name: [{required: true, message: '项目名称为必填项', trigger: 'blur'}]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            /*// 发送请求到后台获取检查项列表数据，
            // 查询数据get, 条件查询post(复杂查询条件), post:修改或创建数据
            axios.get('/checkItem/findAll.do').then(res => {
                if (res.data.flag) {
                    // 成功
                    //绑定数据
                    this.dataList = res.data.data;
                }else {
                    //失败
                    this.$message({methods: res.data.message,type:"error"});
                }
            })*/

            this.findPage()
        },
        methods: {
            //添加
            handleAdd() {
                //校验表单输入项是否合法
                /*this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {*/
                        //隐藏新增窗口
                        this.dialogFormVisible = false;
                        //表单数据校验通过，发送ajax请求将表单数据提交到后台
                        axios.post('/user/add.do?roleIds=' + this.roleIds, this.formData).then(res => {
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? "success" : "error"
                            });
                            //判断后台返回的flag值，true表示添加操作成功，false为添加操作失败
                            if (res.data.flag) {
                                //隐藏新增窗口
                                this.dialogFormVisible = false;
                                // 刷新列表数据
                                this.findPage();
                            }
                        });
                    /*} else {
                        this.$message.error("新增用户失败");
                        return false;
                    }
                });*/
            },

            //编辑
            handleEdit() {
                        //表单数据校验通过，发送ajax请求将表单数据提交到后台
                axios.post('/user/update.do?roleIds=' + this.roleIds, this.formData).then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? "success" : "error"
                    });
                    //判断后台返回的flag值，true表示添加操作成功，false为添加操作失败
                    if (res.data.flag) {
                        //隐藏新增窗口
                        this.dialogFormVisible = false;
                        // 刷新列表数据
                        this.findPage();
                    }
                        });
            },

            //分页查询
            findPage() {
                // 发送查询的请求，提交pagination(currentPage,pageSize)
                axios.post('/user/findPage.do', this.pagination).then(res => {
                    if (res.data.flag) {
                        // 成功
                        //绑定数据
                        // 分页的结果
                        this.dataList = res.data.data.rows;
                        // 总记录
                        this.pagination.total = res.data.data.total;

                    } else {
                        //失败
                        this.$message({methods: res.data.message, type: "error"});
                    }
                });
            },
            // 重置表单
            resetForm() {
                //还原为初始的值
                this.formData = {};
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
                axios.get('/role/findAll.do').then(res => {
                    if (res.data.flag) {
                        this.tableData = res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                })
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                // 弹出编辑窗口
                this.dialogFormVisible4Edit = true;
                // 重置表单
                this.resetForm();
                // 要编辑的检查项id
                var id = row.id;
                // 回显 发送请求
                axios.get('/user/findById.do?id=' + id).then(res => {
                    if (res.data.flag) {
                        // 成功
                        //绑定数据
                        this.formData = res.data.data;
                        axios.get('/role/findAll.do').then(resp=>{
                            if(resp.data.flag){
                                this.tableData = resp.data.data;
                                axios.get('/user/findRoleIdByUserId.do?id='+id).then(response=>{
                                   if(response.data.flag){
                                       this.roleIds = response.data.data;
                                   } else{
                                       this.$message.error(res.data.message);
                                   }
                                })
                            }else{
                                this.$message.error(res.data.message);
                            }
                        })
                    } else {
                        //失败
                        this.$message({methods: res.data.message, type: "error"});
                    }
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                //currentPage 为修改后的页面
                // 设置分页查询时使用的页码
                this.pagination.currentPage = currentPage;
                // 分页查询
                this.findPage()
            },
            // 删除
            handleDelete(row) {
                // row行数据，数据库中的一条记录，checkitem实体对象
                // 获取删除的id
                var id = row.id;
                this.$confirm('此操作将【永久删除】该用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 点击确定后调用,发送请求
                    axios.get('/user/deleteById.do?id=' + id).then(res => {
                        this.$message({type: res.data.flag ? "success" : "error", message: res.data.message});
                        if (res.data.flag) {
                            // 成功
                            // 刷新列表
                            this.findPage();
                        }
                    });
                }).catch(() => {
                    // 点击取消后调用
                    // 空着，防止报错
                });
            }
        }
    })
</script>
</html>